<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#ingredient.id}}Actualizar "{{ingredient.name}}"{{/ingredient.id}}{{^ingredient.id}}Añadir nuevo ingrediente{{/ingredient.id}}</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/yourkitid.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>
<body id="page-top" style="height: auto">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">Delantal de Estrellas</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>

    </div>
</nav>
<!-- Ingredient Section -->
<section class="page-section" id="ingredient" style="height: auto; margin: 10% auto">
    <div class="container">
        <!-- Ingredient Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="padding-top: 5%">{{#ingredient.id}}Actualizar "{{ingredient.name}}"{{/ingredient.id}}{{^ingredient.id}}Añadir nuevo ingrediente{{/ingredient.id}}</h2>
        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-leaf"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Ingredient Section Form -->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <!-- Form to add ingredient -->
                <form id="ingredientForm" method="post" action="{{#ingredient.id}}/ingredient/update{{/ingredient.id}}{{^ingredient.id}}/newIngredient{{/ingredient.id}}">
                    <!-- Ingredient name input -->
                    <input type="hidden" name="id" value="{{#ingredient.id}}{{ingredient.id}}{{/ingredient.id}}" />
                    <div class="form-floating mb-3">
                        <input class="form-control" name="name" id="ingredientName" type="text" placeholder="Nombre" value="{{#ingredient.id}}{{ingredient.name}}{{/ingredient.id}}" required/>
                        <label for="ingredientName">Nombre</label>
                    </div>
                    <!-- Description input -->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="description" id="description" type="text" placeholder="Descripción" style="height: 10rem" required>{{#ingredient.id}}{{ingredient.description}}{{/ingredient.id}}</textarea>
                        <label for="description">Descripción</label>
                    </div>
                    <!-- Image input -->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="image" id="imageString" type="text" placeholder="Imagen" value="{{#ingredient.id}}{{ingredient.image}}{{/ingredient.id}}" required/>
                        <label for="imageString">Imagen</label>
                    </div>
                    <!-- Submit Button -->
                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit">{{#ingredient.id}}Actualizar "{{ingredient.name}}"{{/ingredient.id}}{{^ingredient.id}}Añadir nuevo ingrediente{{/ingredient.id}}</button>
                    <a class="btn btn-xl btn-outline-danger" href="{{#ingredient.id}}/ingredient/{{ingredient.id}}{{/ingredient.id}}{{^ingredient.id}}/ingredients{{/ingredient.id}}">
                        <svg class="svg-inline--fa fa-xmark me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"></path></svg><!-- <i class="fas fa-xmark me-2"></i> Font Awesome fontawesome.com --> <b>Cancelar</b>
                    </a>
                </form>
            </div>
        </div>
    </div>
</section>
{{>Footer}}

<script src="path/to/your/jquery.slim.min.js"></script>
<script src="path/to/your/popper.min.js"></script>
<script src="path/to/your/bootstrap.min.js"></script>

</body>
</html>
