{{#chef}}
    <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto chef-item" data-description="{{description}}"
             data-name="{{name}}" data-id="{{id}}" style="height: 20rem">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i
                        class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid-new" src="{{image}}" alt="..."/>
        </div>
    </div>
{{/chef}}
{{#showNoMore}}
    <div style="display: none" id="noMore"></div>
{{/showNoMore}}