<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Crea una nueva Receta - Delantal de Estrellas</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="/css/CreateRecipe.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="/">Delantal de Estrellas</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#ingredients">Ingredientes</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#prep">Preparación</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#chef">Chef</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image-->
                <label for="recipeImg" style="font-size: x-large">Foto de la receta: </label><input class="col-lg-4" type="text" id="recipeImg" placeholder="https://imagenes.20minutos.es/uploads/imagenes/2020/06/19/rick-astley-en-su-cancion-never-gonna-give-you-up.gif">
                <!-- Masthead Heading-->

                <!--
                <div class="form-floating mb-3">
                    <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                    <label for="name">Full name</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                </div>
                -->

                <br><label style="font-size: x-large" for="nameInput">Nombre: </label>
                <h2 class="masthead-heading text-uppercase mb-0"><input type="text" id="nameInput" placeholder="Nombre de la Receta" required></h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <label for="descriptionInput" style="font-size: x-large">Descripción: </label><textarea class="col-lg-6" id="descriptionInput" placeholder="Descripción de la Receta"></textarea>
            </div>
        </header>
        <!-- Ingredients Section-->
        <section class="page-section" id="ingredients">
            <div class="container text-center">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Ingredientes</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <p>Haz click sobre un ingrediente para eliminarlo de la receta</p>
                <div class="centered-list underline-list">
                    <ol id="ingList">
                    </ol>
                </div>
                <button class="btn btn-primary btn-xl" data-bs-toggle="modal" data-bs-target="#addIngModal">Añadir ingrediente</button>
            </div>
        </section>
        <!-- Prep Section-->
        <section class="page-section bg-primary text-white mb-0 portfolio" id="prep">
            <div class="container text-center">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary text-white mb-0">Preparación</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <p>Haz click sobre un paso para editarlo o eliminarlo</p>
                <div class="centered-list underline-list">
                    <ol id="stepsList">
                    </ol>
                </div>
                <button class="btn btn-primary btn-outline-light btn-xl" data-bs-toggle="modal" data-bs-target="#addStepModal">Añadir Paso</button>
            </div>
        </section>
        <!-- Chef Section-->
        <section class="page-section" id="chef">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase">Chef</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <p class="lead">Esta es una receta de
                            <select id="chefInput" onchange="updateChefContent(this.value)">
                                <option id="chefnoChef" value="noChef" data-description="No existe" selected>Sin Chef</option>
                                {{#chefs}}
                                    <option id="chef{{id}}" value="{{id}}" data-description="{{description}}">{{name}}</option>
                                {{/chefs}}
                            </select>
                            . <a id="chefLink" href="/chefs">Sobre <span id="chefName">Sin Chef</span></a>: <span id="chefDescription"></span></p>
                    </div>
                </div>
                <!-- About Section Button-->

            </div>
        </section>
        <!-- Actions Section-->
        <section class="page-section bg-primary text-white mb-0 portfolio" id="actions">
            <div class="container text-center">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary text-white mb-0">Acciones</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="text-center mt-4">

                    <button type="submit" class="btn btn-xl btn-outline-light" onclick="validateAndSendForm('/recipe/new')"><i class="fas fa-plus me-2"></i><b>Crear Receta</b></button>
                    <!-- /recipe/{ {id}}/update -->
                    <a class="btn btn-xl btn-outline-danger" href="/recipes"> <!-- /recipe/{ {id}} -->
                        <i class="fas fa-xmark me-2"></i> <b>Cancelar</b>
                    </a>

                </div>
            </div>
        </section>

        {{>Footer}}

        <!-- Modals-->
        <div class="portfolio-modal modal fade" id="addIngModal" tabindex="-1" aria-labelledby="addIngModal" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Añade un Ingrediente</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <form>

                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="ingredientInput" type="text" placeholder="Ingrediente: " data-sb-validations="required" oninput="filterIngredients()"/>
                                            <label for="ingredientInput">Ingrediente: </label>
                                        </div>

                                    </form>
                                    <ul class="centered-list highlight-list" id="matchingIngredientsList" data-selected="1">
                                    </ul>
                                    <button class="btn btn-primary" id="addIngButton" onclick="addIngredient()" data-bs-dismiss="modal" disabled>
                                        <i class="fas fa-solid fa-plus fa-fw"></i>
                                        Añadir Ingrediente
                                    </button>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="addStepModal" tabindex="-1" aria-labelledby="addStepModal" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Añade un Paso</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <form>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="stepInput" type="text" placeholder="Paso... " data-sb-validations="required"/>
                                            <label for="stepInput">Paso: </label>
                                        </div>

                                    </form>
                                    <button class="btn btn-primary" id="addStepButton" onclick="addStep()" data-bs-dismiss="modal">
                                        <i class="fas fa-solid fa-plus fa-fw"></i>
                                        Añadir Paso
                                    </button>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="editStepModal" tabindex="-1" aria-labelledby="editStepModal" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Edita un Paso</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <form>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="editStepInput" type="text" placeholder="Paso... " data-sb-validations="required"/>
                                            <label for="editStepInput">Paso: </label>
                                        </div>
                                    </form>

                                    <button class="btn btn-primary" id="editStepButton" onclick="saveEditedStep()" data-bs-dismiss="modal">
                                        <i class="fas fa-solid fa-floppy-disk fa-fw"></i>
                                        Guardar Cambios
                                    </button>
                                    <button class="btn btn-danger" id="deleteStepButton" onclick="deleteStep()" data-bs-dismiss="modal">
                                        <i class="fas fa-solid fa-trash fa-fw"></i>
                                        Eliminar Paso
                                    </button>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <script src="/js/CreateRecipe.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
